@charset "utf-8";

.main_visual { position:relative; }
.main_visual .main_tit { position:absolute; z-index:2; color:#fff; width:100%; left:0; bottom:15%; height:90px; }
.main_visual .main_tit > div { display:none; position:absolute; top:0; left:0; width:100%; height:90px; padding:0 10%; box-sizing:border-box; }  
.main_visual .main_tit > div span { opacity:0; -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out; -moz-transition: .3s ease-in-out; }
.main_visual .main_tit > div span.on { opacity:1; }
.main_visual .main_tit .small_txt { margin-left:5px; font-size:13px; font-family:'TrajanPro'; margin-bottom:10px; clear:both; overflow:hidden; }
.main_visual .main_tit .big_txt { font-size:26px; }
.main_visual .main_tit .big_txt > div { clear:both; overflow:hidden; }
.main_visual .main_tit .small_txt span, .main_visual .main_tit .big_txt span { float:left; }
.main_visual .main_tit .small_txt span { margin-right:10px; }
.main_visual .main_tit .big_txt span { line-height:1.33; }

.main_visual .swiper-slide img { transform: scale(1.1); -webkit-transition: 3s ease-in-out; transition: 3s ease-in-out; -moz-transition: 3s ease-in-out; }
.main_visual .swiper-slide-active img { transform: scale(1); }
.main_visual .swiper-pagination-white .swiper-pagination-bullet { opacity:1; background:transparent; border:1px solid #fff; width:10px; height:10px; }
.main_visual .swiper-pagination-white .swiper-pagination-bullet-active { background:#bab3ac; border-color:#bab3ac; }
.main_visual .swiper-container-horizontal > .swiper-pagination-bullets { left:10%; bottom:8%; display:inline-block; width:auto; }
.main_visual .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet { margin-left:0; margin-right:18px; }
.main_visual .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:last-child { margin-right:0; }

.section { overflow-x:hidden; }
.section .tit_wrap { margin-bottom:7px; padding:0 15px; position:relative; }
.section .tit_wrap > *, .section .tit_wrap .btn span { display:inline-block; }
.section .tit_wrap .btn { position:absolute; right:15px; top:50%; transform:translateY(-50%); color:#004c6b; font-size:14px; padding-right:15px; background:url(/resources/mobile/images/main/btn_go.png) no-repeat center right; background-size:5px; }

.section.sale { padding:35px 0 60px; background:#d5ddea; }
.section.sale .tit_wrap .btn span { padding-left:20px; background:url(/resources/mobile/images/main/btn_tearplan.png) no-repeat left center; background-size:15px; }
.section.sale .swiper-container { margin:0 15px; overflow:visible; }
/* .section.sale .swiper-container-horizontal > .swiper-scrollbar { height:2px; background:#fff; bottom:-20px; } */
/* .section.sale .swiper-scrollbar-drag { background:#004c6b; } */
.section.sale .swiper-container-horizontal > .swiper-pagination-bullets { bottom:-30px; }
.section.sale .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet { margin:0; margin-right:18px; }
.section.sale .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:last-child { margin-right:0; }
.section.sale .swiper-pagination-bullet { width:12px; height:12px; border:1px solid #fff; box-sizing:border-box; background:transparent; opacity:1; }
.section.sale .swiper-pagination-bullet-active { background:#fff; }
.section.sale .swiper-slide { width:205px; }
.section.sale .percel_item { background:#f0eeed; width:205px; display:block; position:relative; }
.section.sale .percel_item .item_innner { display:block; }
.section.sale .percel_item .btn_favor { z-index:2; width:43px; height:43px; position:absolute; top:172px; right:10px; background:url(/resources/mobile/images/common/ico_favorit_off.png) no-repeat center; background-size:43px; -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out; -moz-transition: .3s ease-in-out; }
.section.sale .percel_item .btn_favor.on { background:url(/resources/mobile/images/common/ico_favorit_on.png) no-repeat center; background-size:43px; }
.section.sale .percel_item .thumb {overflow:hidden; height:162px;}
.section.sale .percel_item .thumb img { width:100%; height:100%; -webkit-transition: .7s ease-in-out; transition: .7s ease-in-out; -moz-transition: .7s ease-in-out; }
.section.sale .percel_item .info { position: relative; height:141px; padding:40px 25px 35px 25px; background:url(/resources/mobile/images/main/bg_main_pattern.jpg) no-repeat bottom left ; background-size:contain; box-sizing:border-box;}
.section.sale .percel_item .info .flag { position:absolute; top:0; left:25px; font-size:13px; width:56px; height:23px; line-height:23px; }
.section.sale .percel_item .info .schedule { position:absolute; top:0; right:20px; line-height:40px; color:#706142; }
.section.sale .percel_item .info .percel_name { font-weight:700; font-size:18px; line-height:1.25; display: inline-block; width:130px; white-space:nowrap; overflow:hidden; text-overflow: ellipsis;  white-space: normal; height:44px; word-break:break-word; display: -webkit-box; -webkit-line-clamp:2; -webkit-box-orient: vertical; } 
.section.sale .percel_item .info .tel { font-size:13px; color:#004c6b; font-family:'TrajanPro'; font-weight:700; margin-top:5px; }

.section.brand { position:relative; padding:30px 15px 75px 15px; background:#e0d7d6; box-sizing:border-box; height:435px; }
.section.brand .brand_item { display:block; padding:55px 0; color:#fff; text-align:center; position:relative; z-index:2; }
.section.brand .brand_item.brand_story { background:url(/resources/mobile/images/main/img_sec03_01.jpg) no-repeat center; background-size:cover; }
.section.brand .brand_item.bi { margin-top:10px; background:url(/resources/mobile/images/main/img_sec03_02.jpg) no-repeat center; background-size:cover; }
.section.brand .brand_item .tit01 { display:inline-block; font-size:18px; font-weight:700; padding-right:15px; background:url(/resources/mobile/images/main/bg_arrow.png) no-repeat right center; background-size:5px; }
.section.brand .brand_item .tit02 { font-size:13px; margin-top:10px; }
.section.brand .txt_bg_wrap { position:absolute; width:100%; bottom:5px; left:0; }
.section.brand .txt_bg { position:relative; height:30px; }
.section.brand .txt_bg.btm { margin-top:3px; }
.section.brand .txt_bg > div {  position:absolute; height:30px; width:1338px; font-size:0; }  
.section.brand .txt_bg .inner { width:669px; top:0; display:inline-block; }
.section.brand .txt_bg .txt_top .inner { right:0; }
.section.brand .txt_bg .txt_btm .inner { left:0; }
.section.brand .txt_bg .inner span { display:inline-block; vertical-align:middle; position:relative; font-size:30px; color:#cfc0bb; font-family:'TrajanPro'; font-weight:700; line-height:1; }
.section.brand .txt_bg .inner span.eclips { width:25px; height:30px; background:url(/resources/images/main/bg_dot.png) no-repeat center; background-size:5px; }

.section.news {  padding:40px 0 80px; }
.section.news .tit_wrap { margin-bottom:20px; }
.section.news h3 { font-size:20px; }
.section.news .news_wrap { padding:0 15px; }
.section.news ul { width:100%; border-top:1px solid #9a8b86; }
.section.news ul li { border-bottom:1px solid #ddd; }
.section.news ul li a { display:table; width:100%; font-size:0; color:#9a8b86; }
.section.news ul li a > * { display:table-cell; vertical-align:middle; padding:20px 10px; }
.section.news ul li .date { text-align:center; width:42px; font-family:'TrajanPro'; font-weight:700; }
.section.news ul li .date span { display:block; }
.section.news ul li .date .day { font-size:18px; }
.section.news ul li .date .month { font-size:10px; }
.section.news ul li:last-child { border-color:#9a8b86; }
.section.news ul li .news_tit { width:calc( 100% - 42px ); padding-right:35px; font-size:15px; background:url(/resources/mobile/images/main/btn_news.png) no-repeat center right 10px; background-size:15px; }

.section.my a { display:inline-block; width:50%; float:left; padding:35px 0; text-align:center; color:#fff; font-weight:700; text-align:center; }
.section.my a.qna { background:url(/resources/mobile/images/main/bg_qna.jpg) no-repeat center; background-size:cover; }
.section.my a.faq { background:url(/resources/mobile/images/main/bg_faq.jpg) no-repeat center; background-size:cover; }
.section.my a p { display:inline-block; padding-right:15px; background:url(/resources/mobile/images/main/bg_arrow.png) no-repeat right center; background-size:5px; }


/* main_pop */
.main_pop{display:none; position:absolute; left:400px; top:150px; z-index:9999 !important; font-size:0; background:#004c6b;}
.main_pop.open{display:block;}
.dim { position:fixed; left:0; top:0; width:100%; height:100%; z-index:9998; background:rgba(0,0,0,0.5); }
.main_pop .cont_wrap { padding:10px 10px 0; }
.main_pop .cont_wrap img{width:100%;}
.main_pop .day_close_wrap{ display:inline-block; width:50%; height:50px; font-size:15px; color:#fff; line-height:50px; text-align:center;}
.main_pop .day_close_wrap *{vertical-align:middle;}
.main_pop .day_close_wrap input{margin-right:5px;}
.main_pop .main_pop_close{ box-sizing:border-box; display:inline-block; width:50%; height:50px; font-size:15px; color:#fff; line-height:50px; text-align:center; border-left:1px solid #06222d; }