<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type"  content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>1년 미로그인 회원 계정 삭제 안내</title>
</head>
<body style="margin:0; padding:0">
	<table cellpadding="0" cellspacing="0" style="width:700px; margin:0 auto; border-collapse:collapse;">
		<tr>
			<td style="height:70px; background-color:#004c6b;"></td>
			<td colspan="3" style="height:70px; background-color:#004c6b;"><a href="#" target="_blank"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_logo.png" alt="" /></a></td>
			<td style="height:70px; background-color:#004c6b;"></td>
		</tr>
		<tr>
			<td colspan="5" style="height:50px;"></td>
		</tr>
		<tr>
			<td colspan="5" style="text-align:center;"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_tit01.jpg" alt="" /></td>
		</tr>
		<tr>
			<td colspan="5" style="height:40px;"></td>
		</tr>
		<tr>
			<td rowspan="10" style="width:40px; height:40px; border-right:1px solid #ddd; box-sizing:border-box;"></td>
			<td colspan="3" style="height:40px; border-top:1px solid #ddd; box-sizing:border-box;"></td>
			<td rowspan="10" style="width:40px; height:40px; border-left:1px solid #ddd; box-sizing:border-box;"></td>
		</tr>
		<tr>
			<td rowspan="8" style="width:40px;"></td>
			<td style="text-align:left;"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_txt01.jpg" alt="" /></td>
			<td rowspan="8" style="width:40px;"></td>
		</tr>
		<tr>
			<td style="height:40px;"></td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" style="width:540px; border-collapse:collapse; border-top:1px solid #9a989a; border-bottom:1px solid #9a989a; text-align:center;">
					<colgroup>
						<col style="width:152px;" />
						<col style="*" />
					</colgroup>
					<tr>
						<th scope="row" style="padding:22px 0; background-color:#bab3ac; border-bottom:1px solid #ddd; color:#fff; font-family:Dotum; font-weight:bold; font-size:15px; letter-spacing:-1px;">아이디</th>
                        <td style="padding:22px 39px; border-bottom:1px solid #ddd; font-family:Dotum; font-size:15px; color:#000; text-align:left; letter-spacing:-1px;">[_USER_ID_]</td>
					</tr>
					<tr>
						<th scope="row" style="padding:22px 0; background-color:#bab3ac; border-bottom:1px solid #ddd; color:#fff; font-family:Dotum; font-weight:bold; font-size:15px; letter-spacing:-1px;">파기 시행 예정일시</th>
                        <td style="padding:22px 39px; border-bottom:1px solid #ddd; font-family:Dotum; font-size:15px; color:#000; text-align:left; letter-spacing:-1px;">[_TRUNCATE_DATE_]</td>
					</tr>
					<tr>
						<th scope="row" style="padding:22px 0; background-color:#bab3ac; border-bottom:1px solid #ddd; color:#fff; font-family:Dotum; font-weight:bold; font-size:15px; letter-spacing:-1px;">처리 내용</th>
                        <td style="padding:22px 39px; border-bottom:1px solid #ddd; font-family:Dotum; font-size:15px; color:#000; text-align:left; letter-spacing:-1px;">개인정보 파기 (성명, 이메일, 연락처 등 개인정보 일체)</td>
					</tr>
					<tr>
						<th scope="row" style="padding:22px 0; background-color:#bab3ac; color:#fff; font-family:Dotum; font-weight:bold; font-size:15px; letter-spacing:-1px;">관련법령</th>
                        <td style="padding:22px 39px; font-family:Dotum; font-size:15px; color:#000; text-align:left; letter-spacing:-1px;">정보통신망 이용촉진 및 정보보호 등에 관한 법률<br>제29조 및 동법 시행령 제 16조</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="height:22px;"></td>
		</tr>
		<tr>
			<td style="padding-left:15px; line-height:24px; font-family:Dotum; font-size:12px; color:#888; letter-spacing:-1px; text-indent:-15px;">※ 본 메일은 11개월간 서비스 미 이용자를 대상으로 발송된 메일이며, 본 메일 발송 후 1개월 경과 시까지<br> (최근 1년간) 서비스를 미 이용한 회원의 계정에 대해 삭제 처리됩니다.</td>
		</tr>
		<tr>
			<td style="padding-left:15px; line-height:24px; font-family:Dotum; font-size:12px; color:#888; letter-spacing:-1px; text-indent:-15px;">※ 계정 삭제 처리를 원하시지 않는 경우 [_DATE_]까지 홈페이지에 방문하셔서 1회 이상 로그인을 하시면 파기 처리 대상에서 제외됩니다.</td>
		</tr>
		<tr>
			<td style="height:40px;"></td>
		</tr>
		<tr>
			<td style="text-align:center;"><a href="http://www.honorsville.co.kr/smadmin/"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_btn.jpg" alt="" /></a></td>
		</tr>
		<tr>
			<td colspan="3" style="height:50px; border-bottom:1px solid #ddd; box-sizing:border-box;"></td>
		</tr>
		<tr>
			<td colspan="5" style="height:40px;"></td>
		</tr>
		<tr>
			<td colspan="5"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_footer_bg.jpg" alt="" /></td>
		</tr>
		<tr>
			<td colspan="5" style="height:20px; background-color:#f0efed;"></td>
		</tr>
		<tr>
			<td style="width:40px; background-color:#f0efed;"></td>
			<td colspan="3" style="background-color:#f0efed;"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_footer_txt.png" alt="" /></td>
			<td style="width:40px; background-color:#f0efed;"></td>
		</tr>
		<tr>
			<td colspan="5" style="height:20px; background-color:#f0efed;"></td>
		</tr>
	</table>
</body>
</html>