<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type"  content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>문의접수 답변 안내</title>
</head>
<body style="margin:0; padding:0">
	<table cellpadding="0" cellspacing="0" style="width:700px; margin:0 auto; border-collapse:collapse;">
		<tr>
			<td style="height:70px; background-color:#004c6b;"></td>
			<td colspan="3" style="height:70px; background-color:#004c6b;"><a href="#" target="_blank"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_logo.png" alt="" /></a></td>
			<td style="height:70px; background-color:#004c6b;"></td>
		</tr>
		<tr>
			<td colspan="5" style="height:50px;"></td>
		</tr>
		<tr>
			<td colspan="5" style="text-align:center;"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_tit03.jpg" alt="" /></td>
		</tr>
		<tr>
			<td colspan="5" style="height:40px;"></td>
		</tr>
		<tr>
			<td rowspan="5" style="width:40px; height:40px; border-right:1px solid #ddd; box-sizing:border-box;"></td>
			<td colspan="3" style="height:40px; border-top:1px solid #ddd; box-sizing:border-box;"></td>
			<td rowspan="5" style="width:40px; height:40px; border-left:1px solid #ddd; box-sizing:border-box;"></td>
		</tr>
		<tr>
			<td rowspan="3" style="width:40px;"></td>
			<td style="line-height:1.5; font-family:Dotum; font-size:15px; letter-spacing:-1px; text-align:left;">[_NAME_] 고객님, 안녕하십니까?<br>[_DATE_]에 문의하신 내용의 답변이 완료되었습니다.<br>답변은 마이페이지에서 확인하실 수 있습니다.</td>
			<td rowspan="3" style="width:40px;"></td>
		</tr>
		<tr>
			<td style="height:40px;"></td>
		</tr>
		<tr>
			<td style="line-height:1.5; font-family:Dotum; font-size:15px; letter-spacing:-1px; text-align:left;">언제 어디서나 최상의 서비스를 제공하는 경남아너스빌이 되겠습니다.<br>감사합니다.</td>
		</tr>
		<tr>
			<td colspan="3" style="height:40px; border-bottom:1px solid #ddd; box-sizing:border-box;"></td>
		</tr>
		<tr>
			<td colspan="5" style="height:40px;"></td>
		</tr>
		<tr>
			<td colspan="5" style="text-align:center;"><a href="http://www.honorsville.co.kr/membership/login"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_btn.jpg" alt="" /></a></td>
		</tr>
		<tr>
			<td colspan="5" style="height:50px;"></td>
		</tr>
		<tr>
			<td colspan="5"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_footer_bg.jpg" alt="" /></td>
		</tr>
		<tr>
			<td colspan="5" style="height:20px; background-color:#f0efed;"></td>
		</tr>
		<tr>
			<td style="width:40px; background-color:#f0efed;"></td>
			<td colspan="3" style="background-color:#f0efed;"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_footer_txt.png" alt="" /></td>
			<td style="width:40px; background-color:#f0efed;"></td>
		</tr>
		<tr>
			<td colspan="5" style="height:20px; background-color:#f0efed;"></td>
		</tr>
	</table>
</body>
</html>