<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type"  content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>임시 비밀번호 안내</title>
</head>
<body style="margin:0; padding:0">
	<table cellpadding="0" cellspacing="0" style="width:700px; margin:0 auto; border-collapse:collapse;">
		<tr>
			<td style="height:70px; background-color:#004c6b;"></td>
			<td colspan="3" style="height:70px; background-color:#004c6b;"><a href="#" target="_blank"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_logo.png" alt="" /></a></td>
			<td style="height:70px; background-color:#004c6b;"></td>
		</tr>
		<tr>
			<td colspan="5" style="height:50px;"></td>
		</tr>
		<tr>
			<td colspan="5" style="text-align:center;"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_tit05.jpg" alt="" /></td>
		</tr>
		<tr>
			<td colspan="5" style="height:40px;"></td>
		</tr>
		<tr>
			<td rowspan="7" style="width:40px; height:40px; border-right:1px solid #ddd; box-sizing:border-box;"></td>
			<td colspan="3" style="height:40px; border-top:1px solid #ddd; box-sizing:border-box;"></td>
			<td rowspan="7" style="width:40px; height:40px; border-left:1px solid #ddd; box-sizing:border-box;"></td>
		</tr>
		<tr>
			<td rowspan="5" style="width:40px;"></td>
			<td style="text-align:left;"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_txt02.jpg" alt="" /></td>
			<td rowspan="5" style="width:40px;"></td>
		</tr>
		<tr>
			<td style="height:40px;"></td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" style="width:540px; border-collapse:collapse; border-top:1px solid #9a989a; border-bottom:1px solid #9a989a; text-align:center;">
					<colgroup>
						<col style="width:152px;" />
						<col style="*" />
					</colgroup>
					<tr>
						<th scope="row" style="padding:22px 0; background-color:#bab3ac; border-bottom:1px solid #ddd; color:#fff; font-family:Dotum; font-weight:bold; font-size:15px; letter-spacing:-1px;">임시 비밀번호</th>
                        <td style="padding:22px 39px; border-bottom:1px solid #ddd; font-family:Dotum; font-size:15px; color:#000; text-align:left; letter-spacing:-1px;">[_TEMP_PWD_]</td>
					</tr>
					<tr>
						<th scope="row" style="padding:22px 0; background-color:#bab3ac; border-bottom:1px solid #ddd; color:#fff; font-family:Dotum; font-weight:bold; font-size:15px; letter-spacing:-1px;">요청 일시</th>
                        <td style="padding:22px 39px; border-bottom:1px solid #ddd; font-family:Dotum; font-size:15px; color:#000; text-align:left; letter-spacing:-1px;">[_DATE_]</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="height:40px;"></td>
		</tr>
		<tr>
			<td style="text-align:center;"><a href="[_LOCATION_]"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_btn.jpg" alt="" /></a> </td>
		</tr>
		<tr>
			<td colspan="3" style="height:40px; border-bottom:1px solid #ddd; box-sizing:border-box;"></td>
		</tr>
		<tr>
			<td colspan="5" style="height:50px;"></td>
		</tr>
		<tr>
			<td colspan="5"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_footer_bg.jpg" alt="" /></td>
		</tr>
		<tr>
			<td colspan="5" style="height:20px; background-color:#f0efed;"></td>
		</tr>
		<tr>
			<td style="width:40px; background-color:#f0efed;"></td>
			<td colspan="3" style="width:620px; background-color:#f0efed;"><img src="http://tb.honorsville.co.kr/resources/images/EDM/email_footer_txt.png" alt="" /></td>
			<td style="width:40px; background-color:#f0efed;"></td>
		</tr>
		<tr>
			<td colspan="5" style="height:20px; background-color:#f0efed;"></td>
		</tr>
	</table>
</body>
</html>